*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --font-color-purple:#34355B;
    --font-color-black: #000;
    --font-white: #FFF;
    --bg-message: #E4EDF1;
    
}

.hide{
    display: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    font-size: 1.6rem;
}

main{
    width: min(42rem, 90%);

    display: flex;
    padding: 4.8rem 6.4rem 6.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

    background: #FFF;
    box-shadow: 0 2em 5em 0 rgba(0, 0, 0, 0.80);

}

/* screenOne */
.screenOne img{
    max-width: 30em;
    max-height: 20em;

    cursor: pointer;
}

.screenOne img:hover{
    animation: treme 0.2s;
    animation-iteration-count: 3;
}

@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px; rotate: 2deg;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;rotate: -2deg;}
    100% {margin-left: 0;}
  }

main h1{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 1.6rem;
}

main p{
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    opacity: .8;
}

main h1, h2, p{
    color: var(--font-color-purple);
}

form{
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}

input, button{
    border: none;
    padding: 1.6rem;
}

input{
    background-color: var(--bg-input);
    width: 5rem;
    
    border-radius: .4rem 0 0 .4rem;
    cursor: pointer;
}

.screenOne button{
    border-radius: 0 .4rem .4rem 0;
}

/* screenTwo */

.screenTwo h2{
    text-align: center;
    font-family: "DM Sans";
    font-size: 2.4rem;
    font-weight: 400;

    margin-bottom: 3.3rem;
}

.screenTwo img{
    margin: auto;
    margin-top: 4rem;
}

#message{
    max-width: min(30rem, 90%);
    margin: auto;
    padding: 1rem;

    background-color: var(--bg-message);
    box-shadow: .2rem .2rem .2rem 0rem rgba(85, 85, 85, 0.50);

    animation: surgir 3s;
    
}

@keyframes surgir{
    0%{
        transform: translateY(12rem) scale(0);

    }

    100%{
        transform: translateY(0) scale(1);
    }

}

#message p{
    color: var(--font-color-black);
    font-family: "Dancing Script";
    font-size: 2.4rem;
    font-weight: 400;
    line-height: normal;
}

#btnReset{
    font-family: "DM Sans";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--font-white);
    border-radius: 4px;
    background: #FF9500;

    cursor: pointer;
}